<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>رزق  RZQ</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.rzqapp.link</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>946ac645c8f9106df475d82cf4647c214c20bb03</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>telprompt</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
		<string>instagram</string>
		<string>fb</string>
		<string>linkedin</string>
		<string>whatsapp</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app will use camera to take photos for your order.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>RZQ needs to access your location to keep the client updated with order estimated arrival.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>RZQ needs to access your location to show you nearby shops and track orders.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>RZQ needs to access your microphone to add voice notes to your order.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You can select photos to attach to your order.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Cairo-Bold</string>
		<string>Cairo-Regular</string>
		<string>arabic_semibold.ttf</string>
		<string>arabic_regular.ttf</string>
		<string>arabic_medium.ttf</string>
		<string>arabic_light.ttf</string>
		<string>arabic_bold.ttf</string>
		<string>english_semibold.ttf</string>
		<string>english_regular.ttf</string>
		<string>english_medium.ttf</string>
		<string>english_light.ttf</string>
		<string>english_bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>key_live_bjSAlghqpP3uu9tvkFqKXpikDCfw07H5</string>
		<key>test</key>
		<string>key_test_hlxrWC5Zx16DkYmWu4AHiimdqugRYMr</string>
	</dict>
</dict>
</plist>
